---
import { Icon } from "astro-icon/components";
import Heading from "../ui/Heading.astro";
import Hobbies from "./Hobbies.astro";
import { t } from "../../utils/i18n";

const lang = "es";
---

<div class="flex flex-col gap-4 rounded-2xl border border-gray-200 dark:border-gray-800 bg-white dark:bg-gray-900 p-8 max-md:p-6 transition-all duration-300 hover:scale-[1.01] hover:shadow-lg">
  <div class="flex items-center gap-3">
    <Icon class="text-2xl dark:text-gray-300 text-accent-600" name="person" aria-hidden="true" />
    <Heading text={t("hobbies.title", lang)} textGradient={t("hobbies.titleGradient", lang)} level={3}/>
  </div>
  <div class="flex-1 overflow-y-auto">
    <Hobbies variant="vertical" />
  </div>
</div>
